$font-family-sans-serif: "Helvetica Neue", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$fest-text: teal;
$fest-bg: #03020c;
$border: #b1afc2;
$multiply: #6e42c10c;
$primary: #ea8b57;

$theme-colors: (
  "primary": #ea8b57,
  "secondary": #6f42c1// pon el código de color que prefieras,
);
